@use '../../../styles';
@use '../../app-component/app.component';

.btn-area
{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

button
{
    width: 120px;
    height: 60px;
    margin: 5px 4px 10px 4px;
}
