@use '../../styles';
@import 'src/theme';

$header-h: 80px;
$footer-h: 45px;
$menu-w: 300px;

.base-root
{
  height: 100%;

  //background-image: radial-gradient(circle at center center, #fafafa, #ffffff), repeating-radial-gradient(circle at center center, #fafafa, #fafafa, 40px, transparent 80px, transparent 40px);
  //background-blend-mode: multiply;

  background: map-get(styles.$primary, 300) repeating-linear-gradient(-45deg, transparent,
          map-get($mat-gray, 100) 20px, transparent 20px, transparent 52px);
  background-blend-mode: multiply;

  color: white;
}

header
{
  border-bottom: 1px white solid;
  //background-color: styles.$primary-color;

  width: 100%;
  height: $header-h;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h1
  {
    margin: 10px;
    font-weight: lighter;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.35));
  }
}

main
{
  color: styles.$gray;
  background-color: white;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.2);
  width: 100%;

  display: grid;
  grid-template-columns: $menu-w auto;
  grid-template-areas: 'menu' 'main';
}

footer
{
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.07);
  border-top: 1px white solid;

  height: $footer-h;
  width: 100%;

  position: fixed;
  bottom: 0;

  font-family: 'Consolas', serif;
  text-align: center;
  padding-top: 10px;

  a
  {
    color: white;
    text-decoration: underline;
  }

  a:hover
  {
    text-decoration: none;
  }
}
