@use '../../../styles';
@use '../../app-component/app.component';

.main
{
  grid-area: main;
  padding: 5px;

  h2
  {
    width: 120px;
    position: relative;
    left: calc((50% - 60px));
  }
}

.views-area
{
  height: calc(95vh - #{app.$header-h} - 100px);
}

.view-node-wrapper
{
  width: 180px;
  height: 65px;

  position: absolute;
  cursor: move;
  user-select: none;

  background-color: styles.$primary-color;
  border: 1px black solid;

  .view-node-top
  {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'address options';
    justify-content: space-between;

    .address
    {
      grid-area: address;
      margin: 2px 0 0 5px;

      color: styles.$secondary-color;
      font-size: small;
      font-family: 'Consolas', serif;
    }

    .view-node-options-btn
    {
      margin-right: 5px;
      grid-area: options;
      width: fit-content;

      text-align: right;
      color: styles.$secondary-color;
      font-weight: bold;

      cursor: pointer;
    }
  }

  .title
  {
    color: styles.$secondary-color;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
  }
}
