@use '../../../styles';
@use '../../app-component/app.component';

.main
{
  grid-area: main;
  padding: 5px;

  h2
  {
    width: 120px;
    position: relative;
    left: calc((50% - 60px));
  }
}

.views-area
{
  height: calc(95vh - #{app.$header-h} - 100px);
}


