<div class="main">
  <h2>Main Zone</h2>
  <div class="views-area">
    <button mat-button class="view-node-wrapper"
            *ngFor="let view of viewsArray"
            cdkDragBoundary=".views-area" cdkDrag
            [cdkDragFreeDragPosition]="view.position"
            (cdkDragEnded)="drop(view.viewId, $event.distance)"
            id="{{view.viewId}}}">
      <span class="view-node-top">
        <span class="address">0x{{view.address.toString(16)}}</span>
        <span class="view-node-options-btn" (click)="deleteView(view.viewId)">&#8801;</span>
      </span>
      <span class="title">{{view.name}}</span>
    </button>
    <!--    <button mat-raised-button mat-button class="view-node-wrapper">-->
    <!--      <span class="view-node-top">-->
    <!--        <span class="address">0x0000000</span>-->
    <!--        <span class="view-node-options-btn">&#8801;</span>-->
    <!--      </span>-->
    <!--      <span class="title">Stack</span>-->
    <!--    </button>-->
  </div>
</div>
