@import './src/theme.scss';

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Alef');
@import url('https://fonts.googleapis.com/css?family=Consolas');

$primary: $mat-blue;
$secondary: $mat-amber;
$primary-color: map-get($primary, A200);
$secondary-color: map-get($secondary, A400);
$gray: map-get($mat-blue-grey, 300);
$menu-bg-color: map-get($mat-gray, 50);
$h2-color: map-get($mat-amber, A700);
$warn: map-get($mat-red, 700);

*
{
  box-sizing: border-box;
}

html, body
{
  height: 100%;
}

body
{
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a
{
  color: $primary-color;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
  cursor: pointer;
}

h2
{
  color: $h2-color;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.35));
  margin: 20px 0 5px 0;
  text-decoration: underline;
}
